.test{
    background-color: aquamarine;    
}

.testTwo{
    background-color: burlywood;
}

.testThree{
    background-color: coral;
}

.testFour{
    background-color:darkolivegreen;
}

.test .testTwo .testThree{
    text-decoration: underline;
}