.test{
    background-color: #ffffff;    
}

.testTwo{
    background-color: white;
}

.testThree{
    background-color: white;
}

.testFour{
    background-color:white;
}

.test .testTwo .testThree{
    text-decoration: underline;
}